.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--bg-color-button-link-logo);

  @media screen and (min-width: 1200px){
    font-size: 26px;
  }


  &--black {
    color: var(--color-second-logo);
  }

  &--white {
    color: var(--color-text-hero);
  }
}